
@{
    ViewBag.Title = "Enderecos";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


<main>
    <div class="tela-admin">
        <h1 class="mt-4">Gerenciamento de Endereços</h1>
        <div class="input-group col-md-5 mb-3 mt-5 p-0">
            <input type="search" oninput="Filtrar('.adminTr')" id="filtro-tabela" class="form-control" placeholder="Pesquise pelo CPF">
        </div>

        <img class="spinner m-3" src="~/img/Spinner.gif" />

        <button type="button" class="btn btn-primary mt-3 mb-3 ml-0" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="limpaForm()">Adicionar</button>

        <!-----Tabela de Produtos----->
        <div class="table-wrapper-scroll-y my-custom-scrollbar" id="listagemDeProdutos">

        </div>

        <nav class="mt-2" aria-label="Navegação de página exemplo">
            <ul class="pagination">
                <li class="page-item" onclick="paginar(-1)">
                    <a class="page-link" aria-label="Anterior">
                        <span>Anterior</span>
                    </a>
                </li>

                <li class="page-item" onclick="paginar(1)">
                    <a class="page-link" aria-label="Próximo">
                        <span>Próximo</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Endereco</h3>
                    </div>
                    <!-----Form Usuario----->
                    <form method="post" class="p-3">
                        <input name="endereco.IdEndereco" style="visibility: hidden; height: 0px" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="CEP">CEP</label>
                                <input name="endereco.CEP" type="text" class="form-control"
                                       placeholder="Exemplo: XXXX-XXXX" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Estado">Estado</label>
                                <input name="endereco.Estado" type="text" class="form-control" placeholder="Exemplo: SC" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Cidade">Cidade</label>
                                <input name="endereco.Cidade" type="text" class="form-control" placeholder="Exemplo: Blumenau" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Bairro">Bairro</label>
                                <input name="endereco.Bairro" type="text" class="form-control" placeholder="Exemplo: Garcia" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Rua">Rua</label>
                                <input name="endereco.Rua" type="text" class="form-control" placeholder="Exemplo: Machado" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Numero">Numero</label>
                                <input name="endereco.Numero" type="text" class="form-control" placeholder="Exemplo: 100" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Usuario">Usuario</label>
                                <select name="endereco.Usuario.IdUsuario" type="text" class="form-control" required>
                                    @foreach (var usuario in ViewBag.Usuarios)
                                    {
                                        <option value="@usuario.IdUsuario">@usuario.NomeCompleto</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Complemento">Complemento</label>
                                <textarea name="endereco.Complemento" type="text" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer mt-2">
                            <p class="msg-erro text-danger mt-3">Não foi possivel excluir, tente novamente!</p>
                            <p class="msg-done text-success mt-3">Salvo com sucesso!</p>
                            <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button formaction="/AdminEndereco/Salva" type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<!--Script-->
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="~/Scripts/Editar.js"></script>
<script src="~/Scripts/Filtro.js"></script>

<script>
    function limpaForm() {
        var form = $("form input, select, textarea").val("");
    }
</script>





