
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


<main class="tela-admin">
    <h1 class="mt-4">Dashboard</h1>
    <div class="row">
        <div class="col-md-9 ml-5 p-3">
            <div class="wrapper border p-2 bg-light shadow">
                <h4>Valor por Mês</h4>
                <canvas id="Valor" style="display: block; width: 800px; height: 500px;"></canvas>
            </div>
        </div>

        <div class="col-sm-7 ml-5 p-3">
            <div class="wrapper border p-2 bg-light shadow">
                <h4>Quantidade de Produtos por Categoria</h4>
                <canvas id="Categoria" style="display: block; width: 800px; height: 500px;"></canvas>
            </div>
        </div>
    </div>

</main>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<script>


    /*---Grafico de Categoria---*/
    $.post('http://localhost:61651/Dashboard/listarProdutosPorCategoria')
        .done(function (produtos) {

            var tempGenero = [];
            var tempProdutoQtd = []

            produtos.forEach(function (data) {
                tempGenero.push(data.Genero);
                tempProdutoQtd.push(data.qtd);
            });


            var ctx = document.getElementById('Categoria').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: tempGenero,

                    datasets: [{
                        label: 'Genero',
                        data: tempProdutoQtd,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });


    /*---Grafico de Valor Por Mes---*/
    $.post('http://localhost:61651/Dashboard/listarValorMesAno')
        .done(function (valores) {
            console.log(valores)

            var tempNome = new Array();
            var tempTotal = new Array();

            valores.forEach(function (data) {
                tempNome.push(data.MonthName);
                tempTotal.push(data.Total);
            });

            var ctx = document.getElementById('Valor').getContext('2d');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {

                    labels: tempNome,


                    datasets: [{
                        label: 'Valor Total',
                        data: tempTotal,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)'
                    }]
                }

            });
        });

</script>


