
@{
    ViewBag.Title = "Carrinho";
    Layout = "~/Views/Shared/LayoutPadrao.cshtml";
}

<main class="container mt-5 mb-5">
    <h2>Carrinho</h2>

    <table class="table border">
        <thead>
            <tr>
                <th scope="col">Imagem</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody class="carrinho">
            <tr style="font-size: 30px">
                <td scope="col" class="cart-img"><img style="width: 100px" /></td>
                <td scope="col" class="cart-nome align-middle"></td>
                <td scope="col" class="cart-valor align-middle"></td>
                <td scope="col" class="align-middle">
                    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</main>


