
@{
    ViewBag.Title = "Carrinho";
    Layout = "~/Views/Shared/LayoutPadrao.cshtml";
}

<main class="container mt-5 mb-5 carrinho">
    <h2 style="color: black; font-size: 40px; text-shadow: none">Carrinho</h2>

    <table class="table border">
        <thead>
            <tr>
                <th scope="col">Imagem</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody class="carrinho align-middle"></tbody>
    </table>

    <div class="">
        <a href="/Produtos/Endereco"><button class="btn btn-success d-block float-right">Continuar</button></a>
        <a href="/Home"><button class="btn btn-info d-block float-right mr-4">Compras Mais! =)</button></a>
        <label class="total d-block text-success" style="font-size: 30px; font-weight: 600"></label>
    </div>
</main>


<script src="~/Scripts/PassaParaCarrinho.js"></script>