@{
    ViewBag.Title = "Cadastre-se";
    Layout = "~/Views/Shared/LayoutPadrao.cshtml";
}

<main class="container">
    <h1 class="tituloCadastro mt-5">Cadastrar-se</h1>
    <form action="/Cadastro/Adicionar" id="formulario-cadastro" class="mb-5 border">
        <!--NAV-->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#usuario" role="tab"
                   aria-controls="usuario" aria-selected="true">Usuario</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#endereco" role="tab"
                   aria-controls="endereco" aria-selected="false">Endereco</a>
            </div>
        </nav>

        <div class="tab-content " id="nav-tabContent">
            <!--Usuario-->
            <div class="tab-pane fade show active p-3" id="usuario" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    <div class="form col-md-6">
                        <h3>Usuario</h3>
                        <div class="form-group">
                            <label for="nome">Nome Completo</label>
                            <input name="usuario.NomeCompleto" type="text" class="form-control" placeholder="Nome Completo">
                        </div>
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input name="usuario.CPF" type="text" class="form-control" placeholder="CPF">
                        </div>
                        <div class="form-group">
                            <label for="dataNascimento">Data de Nascimento</label>
                            <input name="usuario.DataNascimento" type="date" class="form-control" placeholder="Data de Nascimento">
                        </div>
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input name="usuario.Telefone" type="tel" class="form-control" placeholder="Telefone">
                        </div>
                    </div>

                    <!--Conta-->
                    <div class="col-md-6 tab-pane fade show active p-3" id="nav-home" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <h3>Conta</h3>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input name="login.Email" type="email" class="form-control" aria-describedby="emailHelp"
                                   placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input name="login.Senha" type="password" class="form-control" placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <label for="tpUsuario">Tipo de Usuario</label>
                            <input name="login.TpUsuario" type="text" class="form-control" placeholder="Tipo de Usuario">
                        </div>
                    </div>
                </div>
            </div>

            <!-----Endereco----->
            <div class="tab-pane fade p-3" id="endereco" role="tabpanel"
                 aria-labelledby="nav-profile-tab">
                <h3>Endereco</h3>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cep">CEP</label>
                        <input name="endereco.CEP" type="text" class="form-control" placeholder="CEP">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="estado">Estado</label>
                        <input name="endereco.Estado" type="text" class="form-control" placeholder="Estado">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cidade">Cidade</label>
                        <input name="endereco.Cidade" type="text" class="form-control" placeholder="Cidade">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="bairro">Bairro</label>
                        <input name="endereco.Bairro" type="text" class="form-control" placeholder="Bairro">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="rua">Rua</label>
                        <input name="endereco.Rua" type="text" class="form-control" placeholder="Rua">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="numero">Numero</label>
                        <input name="endereco.Numero" type="text" class="form-control" placeholder="Numero">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="coplemento">Complemento</label>
                        <input name="endereco.Complemento" type="text" class="form-control" placeholder="Complemmento">
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary">Cadastrar-se</button>
                </div>
            </div>
        </div>
    </form>
</main>

