.tela-admin {
    position: relative;
    transition: 500ms;
    left: 300px;
    width: calc(100% - 330px);
}
.menu-admin {
    position: fixed;
    height: -webkit-fill-available;
    z-index: 2;
}

.menu-admin a:hover {
    text-decoration: none
}

.menu-item {
    display: block !important;
    font-size: 18px;
    text-decoration: none
}

    .menu-item li:hover {
        background-color: #606c77 !important;
        transition: 200ms;
    }

    .menu-item li:active {
        border-left: 5px solid;
    }

.my-custom-scrollbar {
    position: relative;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.invisivel {
    display: none !important;
}

.btn-remover-border:focus {
    outline: none
}

.msg-erro {
    display: none;
}

.msg-done {
    display: none;
}

.spinner {
    display: none
}

/*---Desktop---*/
@media screen and (min-width: 751px) {
    .menu-admin {
        min-width: 275px;
        max-width: 275px;
    }
        .menu-admin h2, li span {
            display: inline;
        }

    .animacao {
        width: 5%;
        min-width: 80px;
        text-align: center;
    }

        .animacao h2 {
            display: none !important
        }

        .animacao li span {
            display: none !important
        }

    .animacao-tela {
        left: 120px;
        width: calc(100% - 140px);
    }

}

/*---Mobile---*/
@media screen and (max-width: 750px) {
    .animacao {
        transition: 300ms;
        transform: translateX(-100%)
    }

        .animacao h2 span {
            display: none
        }

        .animacao li span {
            display: none
        }

    .tela-admin {
        left: 5%;
        width: calc(100% - 10%);
    }
}

/*---Ficha Tecnica---*/

.ficha-tecnica {
    font-size: 20px;
}

.nav-item .active {
    background-color: #343a40 !important;
}
