.tela-admin {
    position: relative;
    transition: 500ms;
    left: 10%;
    width: calc(100% - 17%);
    margin-right: 6% !important;
    margin-left: 6% !important;
}
.menu-admin {
    position: fixed;
    height: -webkit-fill-available;
    z-index: 2;
}

.menu-admin a:hover {
    text-decoration: none
}

.menu-item {
    display: block !important;
    font-size: 18px;
    text-decoration: none
}

    .menu-item li:hover {
        background-color: #606c77 !important;
        transition: 200ms;
    }

    .menu-item li:active {
        border-left: 5px solid;
    }

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.invisivel {
    display: none !important;
}

.btn-remover-border:focus {
    outline: none
}

.msg-erro {
    display: none;
}

.msg-done {
    display: none;
}

.spinner {
    display: none
}

/*---Desktop---*/
@media screen and (min-width: 751px) {
    .menu-admin {
        width: 10%;
        min-width: 250px;
        
    }
        .menu-admin h2, li span {
            display: inline;
        }

    .animacao {
        width: 5%;
        min-width: 0;
        text-align: center;
    }

        .animacao h2 {
            display: none !important
        }

        .animacao li span {
            display: none !important
        }

    .animacao-tela {
        left: 5%;
        width: calc(100% - 15%);
    }

}

/*---Mobile---*/
@media screen and (max-width: 750px) {
    .animacao {
        transition: 300ms;
        transform: translateX(-100%)
    }

        .animacao h2 span {
            display: none
        }

        .animacao li span {
            display: none
        }

    .tela-admin {
        left: 0;
        width: calc(100% - 12%);
    }
}
