.menu-admin {
    width: 15%;
    min-width: 250px;
    height: -webkit-fill-available;
    position: fixed;
    box-shadow: 10px 0px 15px #606c77;
    transition: 500ms;
    transform: translateX(0);
    z-index: 2
}

.menu-item {
    display: block !important;
    font-size: 18px;
}

.menu-item li:hover {
        background-color: #606c77 !important;
        transition: 200ms;
    }

.active {
    border-left: 5px solid;
}

.usuarios-admin {
    position: relative;
    left: 15%;
    width: calc(100% - 15%);
    overflow: auto;
    transition: 500ms;
}

.usuarios-admin h1 {
        margin-left: 25px;
    }

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.table-wrapper-scroll-y {
    display: block;
}

.marg-usuario {
    margin-right: 5% !important;
    margin-left: 5% !important;
}

.invisivel {
    display: none !important;
}

/*---Tablet---*/
@media screen and (max-width: 1500px) {
    .menu-admin {
        width: 80px;
        min-width: 80px
    }
    
    .menu-admin h2 span {
        display: none
    }

    .menu-item li span {
        display: none
    }

    .menu-admin h2 i {
        display: inline
    }

    .usuarios-admin {
        left: 10%;
        width: 90%
    }
}

/*---Mobile---*/
@media screen and (max-width: 770px) {
    .menu-admin {
        transform: translateX(-100%);
    }

    .menu-admin h2 span {
        display: none
    }

    .menu-item li span {
        display: none
    }

    .usuarios-admin {
        left: 0;
        width: 100%
    }

}






