/*----------------------TELA HOME----------------------*/

@media only screen and (min-width: 1200px) {
    .botao-bar {
        display: none !important;
    }

    .esconde-dropdown {
        display: none !important
    }
}

/*---MOBILE---*/
@media only screen and (max-width: 550px) {
    .navbar-dark .navbar-brand {
        margin: 0 !important;
        position: absolute;
        left: 65px;
        top: 17px;
    }

    #navbar-2 .form-control {
        width: 40% !important;
        top: 15px;
        left: 205px;
    }

    #navbar-2 form button {
        top: 15px;
        right: 95px;
    }
}

/*---TABLE---*/
@media only screen and (min-width: 550px) and (max-width: 1200px) {
    .navbar-dark .navbar-brand {
        margin: 0 !important;
        position: absolute;
        left: 65px;
        top: 17px;
    }

    #navbar-2 .form-control {
        top: 15px;
        right: 125px;
    }

    #navbar-2 form button {
        top: 15px;
        right: 95px;
    }
}

body:not(i) {
    margin: 0;
    padding: 0;
    background-color: aliceblue !important;
    font-family: 'Montserrat', sans-serif;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.object {
    object-fit: cover;
    object-position: top;
}

.dropdown-toggle::after {
    display: none !important
}

/*---NAV BAR 1---*/
#navbar-1 > nav {
    position: relative;
    height: 40px;
    font-weight: 700;
}

/*---NAV BAR 2---*/

#navbar-2 .form-control::-webkit-input-placeholder {
    color: white;
    font-weight: 600
}

#navbar-2 form button {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    border-radius: initial;
    position: absolute;
    margin: 0 !important;
    top: 15px;
    right: 95px;
}


#navbar-2 .form-control {
    top: 15px;
    right: 125px;
    width: auto;
    border-bottom: 2px solid #fff !important;
    border: none;
    border-radius: unset;
    background: transparent;
    color: white;
    position: absolute;
}

#navbar-2 img {
    position: relative;
    width: 100% !important;
    z-index: -1;
    max-height: 650px;
    min-height: 350px;
    object-fit: cover;
    filter: brightness(0.7);
}

#navbar-2 nav {
    border-bottom: 1px solid #fff;
    padding: inherit;
    width: -webkit-fill-available;
    z-index: 2
}

#navbar-2 ul a, h2 {
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 5px #000;
    font-size: 17px;
    letter-spacing: 2px;
    padding: 10px;
    transition: 500ms;
}

#navbar-2 ul a {
    position: relative;
}

    #navbar-2 ul a:hover::after {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 5px;
        top: 53px;
        left: 0;
        background-color: #0666ca;
    }

#navbar-2 ul i {
    font-size: 20px;
}

#navbar-2 .cart-btn {
    position: absolute;
    top: 5px;
    left: 2px
}

#navbar-2 .cart-box {
    background-color: #0666ca;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    position: relative;
    transform: translateY(-1px);
    box-shadow: 3px 3px 10px #00000080
}

    #navbar-2 .cart-box:hover {
        transform: translateY(0);
        box-shadow: none
    }

#navbar-2 .bar-mobile {
    left: 20%;
    font-size: 17px;
}

    #navbar-2 .bar-mobile ul a {
        font-size: 17px;
    }

/*---MAIN---*/

main .img-destaque img {
    height: 300px;
    object-fit: cover;
    margin: 20px 0;
}

/*---MAIN TITULO---*/

main .titulo {
    border: 1px solid #0666ca;
    border-radius: 50px;
    font-size: 160%;
    padding: 0 3%;
    background-color: aliceblue;
    color: #0666ca;
    z-index: 2;
}

    main .titulo:after {
        content: "";
        height: 1px;
        background: #0666ca;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
    }

main .titulo-box {
    position: relative;
}

/*---MAIN ICONE-FAV---*/

main .icone-fav {
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    padding: 2px;
    border-radius: 50%;
    visibility: hidden;
    color: transparent;
    transition: 400ms;
}

main .card .card-img-top {
    transition: 400ms;
}

main .card:hover > .icone-fav {
    background-color: white;
    color: red;
    visibility: visible;
    opacity: 1 !important;
}

main .card:hover > div .card-img-top {
    transform: scale(1.3)
}

/*---FOOTER---*/

footer {
    background: linear-gradient(to right, #0062E6, #33AEFF);
    min-height: 400px;
    padding-top: 50px;
    color: white;
}

    footer > div > div {
        z-index: 2;
        position: relative
    }

    footer .redes-sociais li {
        padding: 5px 11px;
        font-size: 25px;
        background-color: #3d3d3d;
        color: white;
        border-radius: 25px;
        margin-top: 10px
    }

    footer .redes-sociais .facebook:hover {
        background-color: #324d8f;
    }

    footer .redes-sociais .instagram:hover {
        background-color: #ec3e59;
    }

    footer .redes-sociais .twitter:hover {
        background-color: #0295f3;
    }

    footer .redes-sociais .youtube:hover {
        background-color: #c7191d;
    }

    /*---NUVENS---*/

    footer .nuvem-1 {
        width: 150px;
        left: 7%;
        bottom: 50%
    }

    footer .nuvem-2 {
        width: 100px;
        right: 20px;
        bottom: 70%;
        overflow: hidden;
    }

    footer .nuvem-3 {
        object-fit: cover;
        height: 200px;
        width: 100%;
        left: 0;
        bottom: 0;
    }

    footer .nuvem-4 {
        width: 170px;
        right: 20%;
        bottom: 100px;
    }

/*-------------TELA DE CADASTRO-------------*/

.navbar-cadastro li:hover > a {
    color: #33aeff !important
}

.navbar-cadastro li a:after {
    content: none !important;
}

/*-------------TELA DE CATEGORIA-------------*/

.menu-filtro {
    max-width: 300px
}

/*-------------TELA DE DETALHES-------------*/


.img-detalhes img {
    width: 450px;
    margin-top: 70px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 100px #0000004a;
}

.detalhes {
    float: right;
    margin-top: 70px;
    margin-bottom: 100px;
    width: inherit;
}

    .detalhes h2 {
        font-size: 40px;
        color: black;
        text-shadow: unset;
    }

    .detalhes label {
        font-size: 25px;
    }


/*-------------TELA DE ENDERECO-------------*/

.margin-checkbox {
    margin-top: 78px !important;
    margin-bottom: 78px !important;
}

.animacao-endereco {
    transition: 400ms;
    font-weight: 600
}

    .animacao-endereco:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 20px;
    }

    .animacao-endereco:active {
        transform: translateY(0);
        box-shadow: none;
    }

.ativado {
    border: 2px solid green !important;
}

/*-------------TELA DO CARRINHO-------------*/

.carrinho {
    min-height: 400px;
}

.erro {
    display: none;
    font-weight: 600
}

/*-------------TELA DO PAGAMENTO-------------*/





